<a href="https://colab.research.google.com/github/19PA1A0502/svm/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn import svm
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.shape

(150, 6)

In [4]:
df.isna().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [0]:
x=df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
y=df[['Species']]

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [9]:
model=SVC(kernel='linear')
model.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [0]:
y_pred=model.predict(x_test)

In [12]:

ha=pd.DataFrame({'predicted':y_pred})
ha

          predicted
0   Iris-versicolor
1       Iris-setosa
2    Iris-virginica
3   Iris-versicolor
4   Iris-versicolor
5       Iris-setosa
6   Iris-versicolor
7    Iris-virginica
8   Iris-versicolor
9   Iris-versicolor
10   Iris-virginica
11      Iris-setosa
12      Iris-setosa
13      Iris-setosa
14      Iris-setosa
15  Iris-versicolor
16   Iris-virginica
17  Iris-versicolor
18  Iris-versicolor
19   Iris-virginica
20      Iris-setosa
21   Iris-virginica
22      Iris-setosa
23   Iris-virginica
24   Iris-virginica
25   Iris-virginica
26   Iris-virginica
27   Iris-virginica
28      Iris-setosa
29      Iris-setosa

confusion matrix:

A confusion matrix consists of number of correct predictions and number of incorrect predictions.A confusion matrix values can be used to calculate accuracy,recall,precision.

In [13]:
print(confusion_matrix(y_test,y_pred))

[[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

Accuracy scoe:

It is defined as the ratio of number of corect predictions to total number of predictions.(TP+TN)/(TP+TN+FP+FN...)

In [14]:
print(accuracy_score(y_test,y_pred))

1.0

precision score:

it is defined as the ratio of total number of correct predictions to number of values predicted correctly.(TP/TP+FP).

In [15]:
print(precision_score(y_test,y_pred,average='macro'))

1.0

Note:
for all kernel types(linear,rbf..) the confusion matrix,acuracy score,precision score is same.